@model IEnumerable<CategoryModel> 
@{
    ViewData["Title"] = "Index";
}

@*<h1>Index Category</h1>*@

@if(TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}

@*<partial name="_Notification" />*@

<div class="container p-3">
    <div class="row pt-5">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-bookmark-plus"></i>&nbsp;
                Create New Category
            </a>
        </div>
    </div>
</div>
<br />

<table class="table table-bordered table-striped" style="width:100%">

    <thead>
        <tr>
            <th>
                Category Id
            </th>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="10%">
                    @obj.Id
                </td>

                <td width="20%">
                    @obj.Name
                </td>
                <td width="10%">
                    @obj.DisplayOrder
                </td>

                <td>
                    <div class="w-35 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>
                    </div>
                    <div class="w-35 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger"><i class="bi bi-pencil-square"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>

</table>

